<div id='shoppingCart'>
  <h2 id='cartTitle'>Shopping Cart</h2>
  {{#if cartItems}}
    {{#each cartItems}}
    <div class='cartItem'>
      <a href='/products/{{this._id}}'>
      <img src='{{this.src}}' title='{{this.title}}' width="100px" />
      </a>
      <div class='cartProductInfo'>
        <p><span class='productDescHeading'style='font-weight: bold;'>Title:</span>{{this.title}}</p>
        <p><span class='productDescHeading'style='font-weight: bold;'>Price:</span>${{this.price}}</p>
        <form action='/users/cart/edit?productId={{this._id}}&_method=PUT' method='POST'>
          <label for='orderedQuantity'style='font-weight: bold;'>Quantity:</label>
          <input id='orderedQuantity' name='orderedQuantity' type='number' min='1' value={{this.orderedQuantity}} style='width: 50px;'> 
          <button class='editButton' type='submit'>Edit</button> <br/>
        </form>
        <a href='/users/cart/delete?productId={{this._id}}&_method=DELETE'><button class='removeFromCartButton'>Remove</button></a>
        <p class='errMsg'>{{this.errMsg}}</p>
      </div>
    </div>
    {{/each}}
    {{#if cartItems}}
    <p id='totalDue'><span style='font-weight: bold;'>My Total:</span> ${{total}}</p>
    {{/if}}
    <div id='cartBtn'>
      <button id='checkOutBtn'><a href='/users/cart/checkout'>Check me out!</a></button>
      <button id='emptyCartBtn'><a href='/users/cart/delete/all?_method=DELETE'>Empty Cart</a></button>
    </div>
  {{else}}
    <p class='cartEmptyMsg'>Your cart is empty, buy more!!!</p>
{{/if}}
</div>
